/**/
@font-face{
  font-family: Karma;
  src: url(/fonts/Karma/Karma-Bold.ttf);
}

/**/
@font-face{
  font-family: Lobster;
  src: url(/fonts/Lobster/Lobster-Regular.ttf);
}

/**/
@font-face{
  font-family: Noto;
  src: url(/fonts/Noto_Serif_TC/NotoSerifTC-Black.otf);
}

